.dropdown-container {
    padding: 10px;
    margin: 10px 0;
}

select {
    width: 100%; /* Full width */
    padding: 8px 16px;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded borders */
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    font-size: 16px; /* Increased font size for better readability */
    color: #333; /* Dark grey text color for better contrast */
}

select:focus {
    outline: none; /* Removes the default focus outline */
    border-color: #665eff; /* Changes border color when focused */
    box-shadow: 0 0 8px rgba(102, 94, 255, 0.6); /* More prominent shadow on focus */
}

/* Styling options within the select box */
select option {
    padding: 10px; /* Makes options easier to click */
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-dropdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    display: none;
    margin-top: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.dropdown-menu .dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.background-image {
    background-image: url('../images/dogs_running.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

#main-page-text {
    color: white;
}

.index-body {
    background-image: url(https://prod-assets.production.omega.aapdev.org/img/hero/image/desktop/dog/Hero-DogSearch_DesktopTablet.webp);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: auto;
}

/* background-image: url(https://prod-assets.production.omega.aapdev.org/img/hero/image/desktop/shelter/Hero-ShelterRescueSearch_DesktopTablet.webp); */

#search-bar {
    width: 25%;
}


.pet-card .card-body {
    display: flex;
    flex-direction: row;
  }
  .pet-card .card-info {
    flex: 1;  /* Takes as much space as possible */
  }
  .pet-card img {
    width: 120px; /* Fixed width for the image */
    height: 120px; /* Fixed height for the image */
    border-radius: 15px; /* Rounded corners instead of fully round */
    align-self: center; /* Center the image vertically */
    object-fit: cover; /* Ensures the image covers the area without distorting ratio */
  }